body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("background.png");
    background-color: #131214;
    background-blend-mode: hard-light;
    /* background-size:100%;*/
    /* background-repeat: no-repeat;*/
    font-family: OpenSans-ExtraBold;
}

body, a, a:visited {
    color: #BF812D;
}
a{
	cursor: pointer;
}

img{
    shadow: 4px 4px 5px #1f2123;
	display: inline-block;
    width: 50%;
    height:50%;
}

h1 {
    font-size: 40px;
    vertical-align: 0px;
    position: relative;
    text-shadow: 4px 4px 5px #1f2123;
    font-family: Verdana;
    display: inline;
	
}
h2{
    font-size: 30px;
    vertical-align: 0px;
    position: relative;
    font-family: Verdana;
	color: #543005;
}


p {
    font-family: Verdana;
    line-height: 30px;
    color: #c7eae5;
}

div{
	position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
	padding: 10px, 10px,10px,10px;
	
	margin-top:20px;
	display: inline-block;
    float: center;
}

#source{
    position: fixed;
    transform: rotate(270deg);block
    transform-origin: bottom right 0;
    -webkit-transform: rotate(270deg);
    -webkit-transform-origin: bottom right 0;
    -moz-transform: rotate(270deg);
    -moz-transform-origin: bottom right 0;
    bottom: 505px;
    right: 3px;
}

#git-source{
    position: fixed;
    bottom: 40px;;
    right: 10px;
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
}
